<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Task Manager App</title>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
  <nav>
    <a href="/auth/login">Entrar</a>
    <a href="/auth/signup">Me cadastrar</a>

    <a href="/auth/logout">Logout</a>
  </nav>

  {{{body}}}

</body>
</html>