<div>
  <a href="/task/new">Criar nova task</a>
</div>
<div>
  <ul>
    {{#each tasks}}
      <a href="/task/detail/{{this._id}}">
        <li>{{this.title}}</li>
      </a>
    {{/each}}
  </ul>
</div>